
*{
  box-sizing:border-box;
}

html, body , .my-wrapper {
 height: 100%;
}

.nav-cor{
 background-color: rgba(24, 119, 242,0.6);
}


/* style menu cores
********************
*/

.cor-menu{
text-align:center;
background-color:white;
text-emphasis-color:blue;

}

.cor-menu:hover{
background-color:#ffee58;
font-size:30px;
}


.menu-cursos{
width:350px;
height:300px;
text-align:center;

}

.bar{
 line-height:30px;
 font-family: 'Open Sans', sans-serif;
 font-size: 12px;
 background: #000000;
 color: #ffffff;
 text-align: left;
 letter-spacing: 1px;
 display: block;
 height:45px;
}

.bar> p{
 color:white;
 font-size:14px;
 margin-top:0;
 margin-left:35px ;
}



nav .input-field input[type=search] {
 width:0px;
 
 float:right;
}
nav .input-field input[type=search]:focus {
 width:100%;

 color: transparent;                    
 text-shadow: 0 0 0 rgba(0, 0, 0, 0.87);
}

.label-icon{
 float: left;
}

.band-logo ul {
 font-size: 30px;
}


.imglogo{
width:350px;
height:70px;
bottom:-2px;
position:relative;
}


.imglogo-footer{
width:300px;
height:50px;
position:relative;
margin-left: 40px;
top:20px;

}

.siga{
  position:relative;
  margin-left: 120px;
  top:50px;
}


.siga-re{
  position:relative;
  margin-left: 120px;
  top:50px;
}


.hide-on-med-and-down li a{
 font-size:18px;
 font-weight:normal;
 letter-spacing:1.1px;
 font-family: "UniversBoldCondensed",Helvetica,sans-serif;    
}

.logo{
max-width:300px;
margin-top:5px;

}

.nav-wrapper container ul li{
 width:100px;
}

nav ul a,
nav .brand-logo {
 color:black;
}

.band-logo ul {
  font-size: 30px;
}


.section-slide .slider .slides {
 background-color: transparent;
 margin: 0;
 height:100%;
 margin-top:40px;
}
.section-form{
 margin-top:100px;
}


/*sliders*/

.section-slide .slider .slides {
 background-color: transparent;
 margin: 0;
 height: 700px;
 margin-top:40px;
}
.section-form{
 margin-top:100px;
}
.section-slide .slider .slides li img {
 height: 100% !important;
 width: 100% !important;
 background-position: top;
 background-size: 850px 100% !important;
 background-repeat: no-repeat;
}

.section-slide .slider .slides #heart {
 height: 100% !important;
 width: 100% !important;
 background-position: top;
 background-size: 850px 100% !important;
 background-repeat: no-repeat;
}

.slider .indicators .indicator-item.active {
 background-color:#e0e0e0;
 
 }


 
/*cartoes de cursos*/
.row {
 margin-bottom: 0;
}
.row .card {
 height: 186px;
 background-size: cover;
 background-position: center center;
 border-radius: 12px;
}
.row .card .card-action {
 border-radius: 0 0 12px 12px !important;
 position: absolute;
 bottom: 0;
 width: 100%;
}
.row .card .card-content {
 position: relative;
 overflow: hidden;
 text-overflow: ellipsis;
 color: #fff;
}
.row .card .card-content span {
 font-weight: bold;
 font-size: 1.5em;
}
.row .card#pic1 {
 background-image: url('../img-card/graduacao.png');
}
.row .card#pic2 {
 background-image: url(https://picsum.photos/id/236/320/160);
}
.row .card#pic3 {
 background-image: url(https://picsum.photos/id/235/320/160);
}
.row .card#pic4 {
 background-image: url(https://picsum.photos/id/234/320/160);
}
.row .card#pic5 {
 background-image: url('../img-card/graduacao.png');
}
.row .card#pic6 {
 background-image: url('../img-card/pos_graduacao.png');
}
.row .card#pic7 {
 background-image: url('../img-card/tecnico.png');
}
.row .card#pic8 {
 background-image: url('../img-card/profissio.png');
}
.row .card .overlay {
 -webkit-font-smoothing: antialiased;
 background-image: linear-gradient(rgba(60, 64, 67, 0.2), rgba(60, 64, 67, 0.2) 60%, black 160%);
 bottom: 0px;
 box-sizing: border-box;
 color: #3c4043;
 content: "";
 cursor: pointer;
 display: block;
 font-family: "Google Sans", arial, sans-serif;
 font-size: 16px;
 font-weight: normal;
 left: 0px;
 letter-spacing: 0.10000000149011612px;
 line-height: 26px;
 position: absolute;
 right: 0px;
 top: 0px;
 border-radius: 12px;
}
.row .card .btn-flat {
 color: rgb(255, 255, 255);
}
.row .card .btn-flat:hover {
 background-color: rgba(255, 0, 0, 0.7);
}



 /*rede social*/

.planos{
 background-color: #ffcc29;
}
 .chamada-planos {
     width: 100%;
     text-align: center;
     height:100px;
     background: #ffcc29;
     margin-top: 80px;
 }
 
 .chamada-planos h2 {
     display: inline-block;
     text-transform: uppercase;
     font-weight:bold;
     font-size: 30px;
      margin-top: 7px;
 }

 .socialhover{
   background-color: rgba(24, 119, 242,0.6);
 }

 .socialhover:hover{
   background-color:white;
   color:black;
 }
 

 /*rede social phone*/

 
.caixa{
 width:100%;
 height:500px;
 background-image:url('../imgpro/bg.png');

}

.rotacionar {
 -ms-transform: rotate(20deg); /* IE 9 */
   -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
   transform: rotate(20deg);
 padding-left: 100px;
}



.caixa{
 position:relative;
 top:1px;
}


.img-fluid {
position: relative;
max-width: 100%;
height:400px;
bottom:0px;
top:80px;
right:120px;

}

.img-fluid1{
position: relative;
max-width:100%;
height:400px;
top:120px;
right:130px;
}

/*video*/

.section-video{
 width:100%;
 min-height:500px;
 position:relative;
 background-repeat: no-repeat;
 background-image:url('../imgpro/art.jpg');
 background-size:100% 100%;

}


.section-video > h2{
 
   text-align:center;
 
  
 
  color:blue;
  font-family: 'Permanent Marker'
}


.video{
float:left;
width:33.3%;
position:relative;
margin:20px;


padding-top:calc(33.3% * 0.6);
}


/*imagem celular */



/*bloco RECOMMENDED FOR YOU*/
/*
.hoverzoom {
 position: relative;
 width: 280px;
 height: 300px;
 overflow: hidden;
 margin-top: 20px;
}

.hoverzoom img {
 width: 100%;
 border-radius: 2px;
 -webkit-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
 -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
 -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
 -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
 transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
}*/

.col img {
 
 opacity: 0.9;
}
.col img:hover {
 opacity: 1;
}

.hoverzoom:hover img {
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -ms-transform: scale(1.1);
 -o-transform: scale(1.1);
 transform: scale(1.1);
}
/*
.hoverzoom .retina {
 position: absolute;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 opacity: 0;
 background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
 border-radius: 2px;
 text-align: center;
 padding: 30px;
 -webkit-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
 -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
 -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
 -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
 transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
}

.hoverzoom:hover .retina {
 opacity: 1;
 box-shadow: inset 0 0 100px 50px rgba(0, 0, 0, .5);
}

.hoverzoom .retina p {
 color: #fff;
}*/

.hoverzoom .retina a {
 display: block;
 width: 150px;
 background: #000000;
 border: 1px solid #000000;
 border-radius: 4px;
 color: #fff;
 text-decoration: none;
 text-align: center;
 padding: 10px 15px;
 margin: 16px auto 0;
}

/*OWL*/
.add{
 padding:20px;
 text-align: center;
}

.title{
 font-size:25px;
}




.row h2 {
 font-size: 30px;
}

p {
 line-height: 2rem;
}

.sidenav-trigger {
 color: #26a69a;
}

.parallax-container {
 min-height: 380px;
 line-height: 0;
 height: auto;
 color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
 width: 100%;
}

.footer-color{
background-color:#1877F2 ;

}

.sizefooter{
  position: relative;
  margin:0 80px;
}


.container-img{
  width:100%;
  height:500px;
  top:100px;
}

.box-werraper{
  width:100%;
  top:80px;
  position:relative;
}

.box-werraper img{
  width:100%;
  height:300px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

/*cartao pagina de cursos*/

.section-objetos{

  width:100%;

}

.container-cartao{
  bottom:200px;
  height:auto;
  position: relative;
}

/*obejetivos pag cursos*/

.container-object {
  float:right;
  width:70%;
  top:90px;
  position: relative;
  border-radius:20%;
  padding:80px 30px;
  

}

.container-object h2{
  text-align:center;
  margin-bottom:50px;
}

.container-object p{
  text-align:justify;
 
}

.container-pre{

  width:70%;
  height:500px;
  float:right;
  top:50px;
  position: relative;
  padding:80px 30px;
  border-radius:20%;
}

.container-pre p{
  text-align:justify;
}

.container-pre h2{
  text-align:center;
}

.container-modulo{
  width:90%;
  float: right;
  top:80px;
  position: relative;
  padding:80px 30px;
 
  border-radius:20%;

}


.container-modulo div{
  margin:10px;
  
}

.container-modulo p{
  text-align:justify;
}

.container-modulo h2{
  text-align:center;
  margin:40px 0;
}




@media only screen and (max-width: 992px) {
 .parallax-container .section {
     position: absolute;
     top: 40%;
 }
 #index-banner .section {
     top: 10%;
 }


 .caixa{
  width:100%;
  height:600px;
 }
 .rotacionar {
   -ms-transform: rotate(2deg);
     -webkit-transform: rotate(2deg);
     transform: rotate(2deg);
   padding-left: 100px;
 }
 
 
 
 .caixa{
   position:relative;
   top:1px;
 }


 .imglogo{
  width:100px;
  height:60px;
  bottom:-2px;
  position:relative;
  }
  


 
.img-fluid {
 position: relative;
 max-width: 70%;
 height: 300px;
 bottom:300px;
 right:0;
 
 }
 
 .img-fluid1{
 position: relative;
 max-width: 70%;
 height: 300px;
 top:10px;
 right:50px;
 }

  .video .videos{
     text-align:center;
 }

.video .video{
 float:none;
 box-shadow: solid 2px 30px 20px 10px rgb(66, 33, 33);
 -webkit-box-shadow: 10px 10px 5px 0px rgba (0,0,0,0,75);
 width:100px;
 height:400px;
 display:inline-block;

 
 padding-top:calc(70%* 0.6);
}

.mapmap{
  width:100%;
  height:100%; 
  border-radius:10%;
}


}

@media only screen and (max-width: 600px) {
 #index-banner .section {
     top: 0;
 } 
 
 .chamada-planos{
   height:100px;
 }

 .blue2{
  width:100%;
  position: absolute;;
  background-color:#2a7ac4;
  height:px;
   
}

.section scrollspy{
  
}



  .embreve{
      height:200px;
      background-size:none;

}

  .rede{
    margin-bottom:60px;
  }

/*resposividade da pag dos cursos*/
  .container-object {

    width:100%;
    top:450px;
    position: relative;
  
    
  }

  .container-pre{
 
    width:100%;
    top:350px;
    position: relative;

  }

  .container-modulo{
    width:100%;
   
    top:250px;
    position: relative;
   
   
  }
  

}

.embreve{
        
  width:100%;
  height:500px;
  background-size:contain;
  
}

.modal{
  overflow-y: hidden ;
 
}

.modal-content{
  background-image:url(../img/comu.png);
  background-repeat:no-repeat;
  width:100%;
  height:100%;
  background-size:100% 100%;
  position:absolute;
}

.modal-content p{

  color:black;
  font-size:16px;
  font-weight:bold;
  text-align:justify;
}

.blue2{
  width:100%;
  position: absolute;;
  background-color:#2a7ac4;
  height:540px;
   
}
